.dash_con {
    /*background-color: greenyellow;*/
    height: 100vh;
}

.header {
    width: 90%;
    height: 60px;
    top: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0,0,0,.2);
    border-radius: 5px 10px 5px 10px;
}

.header > div:nth-child(1) {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    /*background-color: #61dafb;*/
}

.header > div:nth-child(2) {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    /*background-color: green;*/
}

.header > div:nth-child(1) > div:nth-child(1),.header > div:nth-child(2) > div:nth-child(1) {
    position: absolute;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0,.1);
    font-family: 'Play', sans-serif;
}
.header > div:nth-child(1) > div:nth-child(2),.header > div:nth-child(2) > div:nth-child(2) {
    position: absolute;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0,.1);
    font-family: 'Play', sans-serif;
}
.square_con{
    top: 10%;
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 3fr));
    grid-gap: 150px;
}
.square_con>div{
    width: 100%;
    height: 250px;
    background-color: rgba(40, 44, 52, 0.2);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Play', sans-serif;
    font-size: 1.8rem;
}